/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}


h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  /*changes default setting from "block" to "flex" and adds flex-direction as "colum" so that items display as a vertical column*/
  display: flex;
  flex-direction: column;
  align-items:center
}
/*set all items to display with the same width*/
.item {
  flex: 1;
}
.img {
  width:100%;
}
/*set images in the about section to padding 10px to add a space b/t them*/
.img-about{
  padding: 10px;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 65px;
  
  color: #fff;
}
header nav{
  display: flex;
  justify-content: center;
}
header nav ul{
    /*Change the default setting from "block" to "flex"*/
  display: flex;
    /*
    Removes the default padding to the left of the
    unordered list.
  */
  padding-left: 0px;
}
header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  /*Applies 20px of margin to the right of each link creating a visual gap b/w the nav links.*/
  margin: 0 20px 0 0;
}
header nav ul li:last-child a{
  /*Removes the margin to the right of the last anchor tag so that the nav appears centered.*/
  margin-right: 0;
}
header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
/* change change the flex-direction from "column" to "row" to make items display as a horizontal row*/
form div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@Media all and (min-width:480px){

  
/* -------  Navigation for Desktop ------- */

header {
  
  /*Adds padding 0px to the top and bottom, padding 20px to the left and right*/
  padding: 0 20px;
  
}
.logo {
  /*Adjust the size of the logo*/
  font-size: 45px;
}
header div{
  display: flex;
  /*pushes the items to the far sides of the large browser with a space b/w them*/
  justify-content: space-between;
  
}
header nav {
  /*Push the nav container down by 3 px to make it present a little better visually within the space*/
  margin-top: 3px;
}
header nav ul{
  display: flex;
  text-align: center;
}

/* -------  Search Form for Desktop ------- */
form {
  border: 2px solid #ff385c;
  /*adds padding 10px to the top and far sides, padding 0px to the bottom */
  padding: 10px 10px 0 10px;
}


form div div {
  /*change the flex-direction of text-fields to column to make them display as vertical columns*/
  display: flex;
  flex-direction: column;
}
form div {
  /*change the flex-direction from "column" to "row" to make items display as a horizontal row in a large browser*/
  flex-direction: row;
}

form select,
form input {
  width: 180px;
  /*Adjust margin-bottom to 10px so that the field texts display a little visually centered in the space*/
  margin-bottom: 10px;
}

form button {
  /*Adjust the size of the "search" btn to make it present better visually in the space*/
  width: 120px;
  height: 45px;
  padding: 0;
}

/* -------  Group and Items------- */
.txt-about{
  /* stretch each line to make it have equal width*/
  text-align: justify;
}
.group{/*change the flex-direction to make items display as a horizontal row*/
  display: flex;
  flex-direction: row;
  align-items: center;
}
.img{
  /*remove the left-padding*/
  padding-left:0px;
 
  
}
.img-about{
  width:24%;
}

.item {
  /*remove the left padding*/
  padding-left:0px;
  padding-right:5px;
}
.item-right {
  /*remove the right padding of the items on the right side*/
  padding-right:0px;
  padding-left:5px;
}
}

@Media all and (min-width:1000px){
  form div {
    /*change the flex-direction from "column" to "row" to make items display as a horizontal row in a large browser*/
    flex-direction: row;
  }
}
